@import "../fonts/stylesheet.css";
:root {
    --font-primary: source_sans_proregular, Arial, Helvetica, sans-serif;
    --font-secondary: source_sans_probold, Arial, Helvetica, sans-serif;
    --color-bg-blue: #37364e;
    --color-dark-grey: #414141;
    --color-light-grey: #adadad;
    --color-blue: #726fbc;
    --color-review: #ff951c;
    --color-reject: #fc3b3b;
    --color-approve: #44bf0f;
    --color-autograph: #ff7272;
    --color-greeting: #ffc16d;
    --color-video: #49dddf;
    --color-profile: #f287cf;
    --color-link: #0cb8e0;
    --color-all-disputes: #414141;
    --color-call-delay: #FF7272;
    --color-message-delay:#FFC16D;
    --color-call-cut:#49DDDF;
    --color-call-reports:#F287CF;

}

body {
    font-family: var(--font-primary);
    background-color: #f0f0f7;
    color: var(--color-dark-grey);
}

.modal-body {
    padding: 30px 60px;
}

.modal-body1 {
    padding: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-secondary);
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
}

button:focus, a:focus {
    outline: none;
}

.color-white {
    color: #fff !important;
}

.autograph {
    color: var(--color-autograph);
}

.greeting {
    color: var(--color-greeting);
}

.call {
    color: var(--color-video);
}

.profile {
    color: var(--color-profile);
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

.btn-with-img {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.btn-with-img:focus {
    outline: none;
}

#rev-call-video .plyr__progress, #rev-exclusive-video .plyr__progress{
    pointer-events: none;
}

/* Review Manager */

/* Navbar */

.navbar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: var(--color-bg-blue);
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    min-width: 8rem;
}

.dropdown-item {
    padding: 0.25em;
    font-size: 13px;
    cursor: pointer;
}

.nav-header-search {
    min-width: 60%;
}

.nav-header-search input {
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 5px 25px;
    font-size: 14px;
    background: #fff url(./../img//review-manager/search.svg) no-repeat center right 15px;
}

.nav-profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: centFer;
    -ms-flex-align: center;
    align-items: center;
}

.profile-img {
    border: none;
    background-color: #fff;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
}

.profile-img:focus {
    outline: none;
}

.profile-img>img {
    max-width: 55px;
    height: auto;
}

.profile-detail {
    text-align: right;
    padding-right: 10px;
}

.profile-detail h5 {
    font-size: 18px;
}

.profile-detail h6 {
    font-size: 12px;
    display: inline-block;
    background: #c752f9;
    padding: 2px 4px;
    border-radius: 10px;
}

.container1 {
    max-width: 1300px;
    margin: auto;
}

.sec-nav {
    margin-top: 20px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.review-type {
    list-style: none;
    padding: 0;
}

.review-type li {
    display: inline-block;
    margin-right: 30px;
    color: var(--color-blue);
    padding-bottom: 5px;
    cursor: pointer;
}

.review-type li.active {
    font-family: var(--font-secondary);
    border-bottom: solid 2px var(--color-blue);
}

.pending-requests, .rejected-requests, .approved-requests {
    font-size: 16px;
}

.pending-requests span, .rejected-requests span, .approved-requests span {
    color: #fff;
    padding: 2px 10px;
    border-radius: 25px;
    font-size: 12px;
}

.pending-requests span {
    background-color: var(--color-review);
}

.rejected-requests span {
    background-color: var(--color-reject);
}

.approved-requests span {
    background-color: var(--color-approve);
}

.notif-button {
    position: relative;
}

.notif-button span {
    display: none;
}

.notif-button.active span {
    display: block;
}

.notif-button span {
    background: var(--color-reject);
    font-size: 11px;
    color: #fff;
    padding: 1px 5px;
    border-radius: 10px;
    position: absolute;
    top: -3px;
    right: -6px;
}

.notifications-pannel {
    min-width: 250px;
}

.review-nav,.dispute-nav {
    background-color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 35px;
}

.dispute-nav>div {
    min-width: 20%;
    padding: 30px 40px;
    position: relative;
}
.review-nav>div {
    min-width: 19%;
    padding: 30px 40px;
    position: relative;
}

.review-nav>div:last-child {
    min-width: 24%;
}

.review-nav>div::after {
    content: "";
    position: absolute;
    height: 80%;
    top: 10%;
    width: 1px;
    background-color: #ceecf4;
    right: 0;
}

.review-nav>div:last-child::after {
    display: none;
}

.review-nav>div h5 {
    font-size: 20px;
    margin-bottom: 20px;
}

.review-nav>div h3 {
    font-size: 46px;
    font-family: var(--font-primary);
    margin-bottom: 5px;
    line-height: 1;
}

.review-nav>div:last-child h3, .review-nav>div.active h3 {
    font-family: var(--font-secondary);
    font-size: 50px;
}

.review-nav>div p {
    font-size: 18px;
    color: var(--color-light-grey);
}

.review-nav>div.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0px;
    background-color: var(--color-dark-grey);
}

.review-nav>div.review-nav-autograph.active::before {
    background-color: var(--color-autograph);
}

.review-nav>div.review-nav-greeting.active::before {
    background-color: var(--color-autograph);
}

.review-nav>div.review-nav-video.active::before {
    background-color: var(--color-video);
}

.review-nav>div.review-nav-profile.active::before {
    background-color: var(--color-profile);
}

.table-struct {
    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;
}

.table-struct thead {
    background-color: var(--color-bg-blue);
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.table-struct tr th {
    padding-left: 30px;
    padding: 20px 10px 10px 30px;
}

.table-struct tr th a {
    position: relative;
}

.table-struct tr th a.sortable::before {
    content: url(../img/review-manager/down-arrow.svg);
    position: absolute;
    transform: rotate(180deg);
    left: calc(100% + 10px);
    top: 2px;
    line-height: 1;
}

.table-struct tr th a.sortable::after {
    content: url(../img/review-manager/down-arrow.svg);
    position: absolute;
    left: calc(100% + 10px);
    top: calc(100% - 11px);
    line-height: 1;
}

.table-struct tr th a.sortable.asc::after, .table-struct tr th a.sortable.desc::before {
    display: none;
}

.table-struct tr th a.sortable.asc::before, .table-struct tr th a.sortable.desc::after {
    top: 3px;
    line-height: 1;
}

.table-struct tr td {
    padding-left: 30px;
    padding: 15px 10px 15px 30px;
    color: var(--color-dark-grey);
    font-size: 14px;
    position: relative;
}

.table-struct tr th:last-child, .table-struct tr td:last-child {
    padding-right: 30px;
}

.table-action {
    padding: 0;
    line-height: 1;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: var(--color-link);
    cursor: pointer;
}

.table-action:focus {
    outline: none;
}

.table-struct tbody td::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--color-light-grey);
}

.table-struct tbody td:last-child::after {
    width: calc(100% - 30px);
}

.table-struct tbody td:first-child::after {
    width: calc(100% - 30px);
    left: 30px;
}

.btn {
    background-color: #adadad;
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    min-width: 125px;
    text-align: center;
    padding: 7px 25px;
    border-radius: 30px;
}

button:disabled, button[disabled] {
    background-color: #adadad !important;
    color: #fff !important;
}

.video-review-approve, .review-approve {
    background-color: var(--color-approve);
}

.video-review-reject, .review-reject {
    background-color: var(--color-reject);
}

.cancel {
    background-color: #fff;
    border: solid 1px var(--color-reject);
    color: var(--color-reject);
}

.reject-confirm {
    background-color: var(--color-reject);
}

.modal-body1 .rejection-confirmation {
    width: 100%;
}

.rejection-confirmation label {
    display: block;
    color: var(--color-dark-grey);
    text-transform: capitalize;
    font-size: 18px;
    font-family: var(--font-secondary);
}

.rejection-confirmation textarea, .rejection-confirmation select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
}

.rejection-confirmation textarea {
    resize: none;
    height: 75px;
}

.reject-section {
    margin-bottom: 20px;
}

.rev-details {
    margin-bottom: 15px;
}

.rev-details {
    margin-bottom: 15px;
}

.rev-detail-title {
    font-family: var(--font-secondary);
    font-size: 14px;
}

.rev-det {
    padding-left: 10px;
    font-size: 14px;
}

.rev-imag-raw img {
    max-height: 200px;
    max-width: 100%;
}

.rev-imag-raw {
    margin: 20px 0;
}

.rev-message>div {
    border: solid thin var(--color-light-grey);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}

.rev-message>h5 {
    font-size: 14px;
    margin-bottom: 5px;
}

.rev-img-composite>img {
    max-width: 100%;
    height: auto;
}

.rev-text {
    font-size: 14px;
    margin-top: 20px;
}

.rev-text p:first-child {
    font-family: var(--font-secondary);
}

.rev-text p {
    margin-bottom: 10px;
}

:root {
    --color-celeb-cinema: #706BFF;
    --color-celeb-sports: #FF6F6F;
    --color-celeb-politics: #54D2D4;
    --color-celeb-others: #A662F5;
    --color-celeb-active: #2ED634;
    --color-celeb-deactive: #F94747;
    --color-celeb-inactive: #FF9216;
}

.cinema {
    color: var(--color-celeb-cinema);
}

.sports {
    color: var(--color-celeb-sports);
}

.politics {
    color: var(--color-celeb-politics);
}

.celeb-others {
    color: var(--color-celeb-others);
}

.review-nav>div.celeb-nav-cinema.active::before {
    background-color: var(--color-celeb-cinema);
}

.review-nav>div.celeb-nav-sports.active::before {
    background-color: var(--color-celeb-sports);
}

.review-nav>div.celeb-nav-politics.active::before {
    background-color: var(--color-celeb-politics);
}

.review-nav>div.celeb-nav-others.active::before {
    background-color: var(--color-celeb-others);
}

.status.active {
    color: var(--color-celeb-active);
}

.status.deactive {
    color: var(--color-celeb-deactive);
}

.status.inactive {
    color: var(--color-celeb-inactive);
}

.celeb-name {
    padding: 0;
    line-height: 1;
    font-size: 14px;
    background-color: transparent;
    border: none;
    color: var(--color-link);
    cursor: pointer;
}

.celeb-edit-r1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
}

.celeb-edit-r2 {
    background-color: #F8F8F8;
    padding: 30px 50px;
}

.celeb-edit-r2 th {
    font-size: 16px;
    padding: 3px 5px;
}

.celeb-edit-r2 td {
    font-size: 14px;
    color: var(--color-light-grey);
    padding: 3px 5px;
}

.celeb-edit-r2 table {
    width: 100%;
    border-collapse: collapse;
}

.celeb-name-details {
    display: flex;
    align-items: center;
}

.celeb-name-details>div {
    margin-right: 10px;
}

.celeb-name-details img {
    border-radius: 50%;
}

#celeb-edit .modal-body {
    padding: 0;
}

.celeb-edit-name {
    font-size: 30px;
    color: var(--color-bg-blue);
}

.celeb-edit-id {
    font-size: 13px;
    color: var(--color-light-grey);
}

.celeb-edit-link {
    font-size: 18px;
    color: #fff;
    text-align: center;
    padding: 2px 40px;
    border-radius: 30px;
    background: rgba(105, 180, 255, 1);
    background: -moz-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105, 180, 255, 1)), color-stop(100%, rgba(41, 166, 180, 1)));
    background: -webkit-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -o-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -ms-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: linear-gradient(to bottom, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b4ff', endColorstr='#29a6b4', GradientType=0);
}

.celeb-edit-link:hover {
    color: #fff;
}

.submit-action {
    background-color: #15ABD1;
}

.close-modal {
    background: none;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    line-height: 1;
    z-index: 1000;
}

.notify-rm {
    font-size: 11px;
    line-height: 1;
    color: #fff;
    border: none;
    padding: 0px 5px;
    cursor: pointer;
    background-color: #6AD9EB;
}

.pen-delayed {
    position: absolute;
    background-color: #fff;
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    font-size: 14px;
    width: 110px;
    top: 32px;
    right: 20px;
    box-shadow: 0 0 5px 0px var(--color-light-grey);
    display: none;
}

.review-nav>div:hover .pen-delayed {
    display: block;
}

.pen-delayed li {
    display: flex;
    justify-content: space-between;
    padding: 3px 0;
}

.pen-delayed li:first-child {
    border-bottom: solid 1px var(--color-light-grey);
}

#form-type {
    margin-left: 10px;
    padding: 2px 10px;
}

.new-celeb-form {
    background: #fff;
    padding: 0 40px;
    padding-bottom: 60px;
    margin-top: 20px;
}

.field-header h4 {
    font-size: 18px;
    padding-left: 10px;
}

.field-header {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--color-light-grey);
    margin-bottom: 20px;
    margin-top: 60px;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.input-group label {
    font-family: var(--font-secondary);
    width: 100%;
    margin-bottom: 0;
    margin-top: 7px;
}

.input-group input {
    width: 100%;
    font-size: 14px;
    padding: 3px 5px;
    -webkit-appearance: none;
    box-shadow: none;
    outline: none;
    border: solid 1px var(--color-light-grey);
}

label.radio {
    width: auto;
    font-family: var(--font-primary);
    font-size: 14px;
}

input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    -webkit-appearance: checkbox;
}

.form-note {
    font-size: 13px;
    color: var(--color-light-grey);
}

.filepond--root {
    margin-bottom: 5px;
}

.formtext {
    width: 100%;
    height: 100px;
    font-size: 13px;
    padding: 3px 5px;
}

.input-group label.short-title {
    width: auto;
}

.add-news, .add-trailer, .add-award, .add-trivia, .add-didYouKnow, .add-news-edit {
    line-height: 1;
    font-size: 13px;
    padding: 0;
    background: none;
    border: none;
    color: var(--color-blue);
}

.inthenews-title {
    width: 100%;
    height: 50px;
    font-size: 13px;
    padding: 3px 5px;
}

.inthenews-content {
    width: 100%;
    height: 130px;
    font-size: 13px;
    padding: 3px 5px;
}

.newsgrouping:not(:first-child) {
    margin-top: 50px;
    clear: both;
}

.newsgrouping-edit:not(:first-child) {
    margin-top: 50px;
    clear: both;
}

.remove-me {
    float: right;
    background: none;
    border: none;
    font-size: 13px;
    color: var(--color-reject);
}

.trailer-input-group, .award-input-group, .didYouKnow-input-group {
    margin-bottom: 5px;
}

.trivia-input-group>div {
    margin-top: 5px;
}

.trivia-input-group {
    margin-bottom: 15px;
}

.remove-trailer, .remove-award, .remove-didYouKnow, .remove-trivia {
    background: none;
    border: none;
    color: var(--color-reject);
    float: right;
    font-size: 24px;
    line-height: 1;
}

.new-celb-action {
    text-align: center;
    margin: 30px;
}

.new-celb-action button {
    min-width: 100px;
}

.celb-clear {
    border: solid 1px var(--color-dark-grey);
    color: var(--color-dark-grey);
    background-color: #fff;
}

.celb-preview,.cmnt_submit,.close_dispute,.base_fare_submit,.credit_value_submit,.search_btn,.default_btn {
    background: rgba(105, 180, 255, 1);
    background: -moz-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105, 180, 255, 1)), color-stop(100%, rgba(41, 166, 180, 1)));
    background: -webkit-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -o-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -ms-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: linear-gradient(to bottom, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b4ff', endColorstr='#29a6b4', GradientType=0);
}

.celeb-edit-detail {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.open-gold {
    background: none;
    outline: none;
    border: solid 1px var(--color-celeb-inactive);
    color: var(--color-celeb-inactive);
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.closed-gold {
    background-color: var(--color-celeb-inactive);
    outline: none;
    color: #fff;
    border: solid 1px var(--color-celeb-inactive);
    font-size: 14px;
    padding: 3px 20px;
    border-radius: 25px;
    margin: 0 10px;
    cursor: pointer;
}

.edit-area {
    background-color: #fff;
    padding: 15px;
    height: 100%;
}

.edit-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.edit-celeb .row {
    margin: 15px -15px;
}

.celeb-edit-heading {
    font-size: 16px;
}

.celeb-edit-button {
    color: #3B86FF;
    background: none;
    border: none;
    outline: none;
    font-size: 14px;
    cursor: pointer;
}

.edit-body {
    padding-top: 15px;
}

.celeb-edit-about {
    display: flex;
}

.celeb-edit-about-inividual {
    text-align: center;
    width: 33%
}

.celeb-edit-about-inividual {
    padding: 15px 0;
}

.celeb-edit-about-inividual figure {
    margin-bottom: 5px;
}

.celeb-edit-about-inividual img {
    padding: 0 0 10px 0;
}

.celeb-edit-about-inividual figcaption {
    font-size: 12px;
    color: var(--color-light-grey);
}

.celeb-edit-about-inividual h5 {
    font-size: 14px;
}

.edit-about-center {
    border-left: solid 1px var(--color-light-grey);
    border-right: solid 1px var(--color-light-grey);
}

.celeb-edit-about:first-child {
    border-bottom: solid 1px var(--color-light-grey);
}

.celeb-edit-exclusive-pics {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px;
}

.celeb-edit-exclusive-pics-individual {
    margin: 5px;
    overflow: hidden;
}

.celeb-edit-exclusive-pics-individual img {
    max-width: 100%;
    height: auto;
}

.celeb-edit-exclusive-videos {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px;
}

.celeb-edit-exclusive-videos-individual {
    margin: 5px;
    overflow: hidden;
}

.celeb-edit-exclusive-videos-individual img {
    max-width: 100%;
    height: auto;
}

.vertical-split-edit {
    display: flex;
    flex-direction: column;
}

.edit-area1 {
    background-color: #fff;
    padding: 15px;
}

.edit-area1:first-child {
    margin-bottom: 15px;
}

.vertical-split-edit1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.edit-area2 {
    background-color: #fff;
    padding: 15px;
}

.edit-area2:first-child {
    margin-bottom: 15px;
}

.row.inner {
    margin: 0 -15px;
    height: 100%;
}

.celeb-edit-in-the-news-individual {
    display: flex;
    position: relative;
    width: 100%;
    height: 170px;
    overflow: hidden;
    margin-bottom: 15px;
}

.celeb-edit-in-the-news-individual:last-child {
    margin-bottom: 0;
}

.celeb-edit-in-the-news-individual img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: auto;
}

.celeb-edit-in-the-news p {
    position: absolute;
    padding: 15px;
    color: #fff;
    z-index: 2;
    bottom: 0;
}

.celeb-edit-in-the-news-individual::before {
    content: "";
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.65) 100%);
    z-index: 1;
    border-radius: 6px;
}

.celeb-edit-latest-movies {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px;
}

.celeb-edit-latest-movies-individual {
    text-align: center;
    margin: 5px;
    max-width: 25%;
}

.celeb-edit-latest-movies-individual figure {
    overflow: hidden;
    width: 100%;
}

.celeb-edit-latest-movies-individual img {
    max-width: 100%;
    border-radius: 50%;
}

.celeb-edit-latest-movies-individual figcaption {
    font-size: 12px;
    margin-top: 5px;
    font-family: var(--font-secondary);
}

.celeb-edit-standard-autograph {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px;
}

.celeb-edit-standard-autograph-individual {
    margin: 5px;
    overflow: hidden;
}

.celeb-edit-sign {
    text-align: center;
}

.celeb-edit-sign-individual {
    margin-bottom: 15px;
}

.celeb-edit-sign-individual:last-child {
    margin-bottom: 0;
}

.celeb-edit-sign img {
    max-width: 100%;
    height: auto;
}

.celeb-edit-did-you-know-individual li {
    font-size: 14px;
}

.celeb-edit-trailers {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px;
}

.celeb-edit-trailers-individual {
    margin: 5px;
}

.celeb-edit-bank-details {
    width: 100%;
    font-size: 14px;
}

.celeb-edit-documents {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: -5px;
}

.celeb-edit-documents-individual {
    margin: 5px;
    background-color: #FAFAFA;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: var(--color-dark-grey);
    display: flex;
    align-items: center;
}

.celeb-edit-documents-individual img {
    padding-right: 10px;
}

.celeb-edit-trivia-individual {
    font-size: 14px;
}

.celeb-edit-modal-head {
    margin-bottom: 20px;
}

.full-width {
    width: 100%;
}

.celeb-edit-modal-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 10px;
}

.update-profile-pic {
    margin-top: -1px
}

.hidden-input {
    left: -999px;
    position: absolute;
}

.profile:after {
    clear: both;
}

.image-wrapper {
    background: rgba(0, 0, 0, 0.4);
    bottom: -50px;
    height: 50px;
    left: 0;
    position: absolute;
    -webkit-transition: bottom 0.15s linear;
    -o-transition: bottom 0.15s linear;
    transition: bottom 0.15s linear;
    width: 100%;
}

.edit {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    top: 14px;
}

.profile-pic-edit {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid white;
    height: 175px;
    overflow: hidden;
    width: 175px;
    top: 0;
    background: #f3f3f3;
}

.profile-pic-edit img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 50%;
    max-height: 100%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    width: auto;
}

.profile-pic-edit:hover .image-wrapper {
    bottom: 0;
}

.close-item {
    color: var(--color-reject);
    padding: 0 7px;
    line-height: 1;
    margin-left: 20px;
    background: none;
    border: none;
    font-size: 26px;
}

.close-item:focus {
    outline: none;
}

.existing-exclusive-images, .existing-exclusive-videos, .existing-movies, .existing-standard-autograph, .existing-signature, .existing-news {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
}

.existing-exclusive-images-individual, .existing-movies-individual {
    width: 100px;
    height: auto;
    position: relative;
    margin: 5px;
}

.existing-exclusive-images-individual img, .existing-exclusive-videos-individual img, .existing-movies-individual img, .existing-standard-autograph-individual img, .existing-signature img, .existing-news-individual img {
    width: 100%;
    height: auto;
}

.remove-exclusive-image, .remove-movies, .remove-standard-autograph, .remove-signature {
    position: absolute;
    top: 6px;
    right: 2px;
    background: none;
    border: none;
    color: var(--color-reject);
    padding: 4px;
    line-height: 1px;
    font-size: 20px;
}

.existing-exclusive-videos-individual {
    max-width: 160px;
    height: 90px;
    overflow: hidden;
    position: relative;
    margin: 5px;
}

.remove-exclusive-videos {
    position: absolute;
    top: 6px;
    right: 2px;
    background: none;
    border: none;
    color: var(--color-reject);
    padding: 4px;
    line-height: 1px;
    font-size: 20px;
}

.existing-movies-individual img {
    width: 100%;
    height: auto;
}

.existing-standard-autograph-individual {
    width: 80px;
    height: auto;
    position: relative;
    margin: 5px;
}

.existing-signature-individual {
    width: 180px;
    height: auto;
    position: relative;
    margin: 5px;
}
/* Dispute Manger */
.all-disputes {
    color: var(--color-all-disputes);
}

.call-delay {
    color: var(--color-call-delay);
}
.message-delay {
    color: var(--color-message-delay);
}
.call-cut {
    color: var(--color-call-cut);
}
.call-reports {
    color: var(--color-call-reports);
}
.fweight{
    font-weight: bold;
}
.dispute-nav > div h5 {
    font-size: 20px;
    margin-bottom: 20px;
}
.dispute-nav > div.dispute-nav-alldisputes.active::before {
    background-color:  var(--color-all-disputes);
}
.dispute-nav > div.dispute-nav-call-delay.active::before {
    background-color:  var(--color-call-delay)
}
.dispute-nav > div.dispute-nav-message-delay.active::before {
    background-color: var(--color-message-delay)
}
.dispute-nav > div.dispute-nav-call-cut.active::before {
    background-color: var(--color-call-cut)
}
.dispute-nav > div.dispute-nav-call-reports.active::before {
    background-color:  var(--color-call-reports)
}
.dispute-nav > div.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    top: 0px;
    background-color: var(--color-dark-grey);
}
.dispute-nav > div::after {
    content: "";
    position: absolute;
    height: 80%;
    top: 10%;
    width: 1px;
    background-color: #ceecf4;
    right: 0;
}
.dispute_table {

    width: 100%;
    background-color: #fff;
    margin-bottom: 50px;

<<<<<<< HEAD
}
.dispute_table tr td {

    padding-left: 30px;
    padding: 15px 10px 15px 15px;
    color: var(--color-dark-grey);
    font-size: 13px;
    position: relative;

}
.table-struct thead {

    background-color: var(--color-bg-blue);
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;

}
.dispute_table tbody td::after {

    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--color-light-grey);

}
.dispute_table th
{
    padding: 20px 10px 10px 10px;
}
.dispute_table thead {

    background-color: var(--color-bg-blue);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;

}
.dispute_table tr th a {

    position: relative;

}
.dispute_table tr th a.sortable::before {

    content: url(../img/review-manager/down-arrow.svg);
    position: absolute;
    transform: rotate(180deg);
    left: calc(100% + 10px);
    top: 2px;
    line-height: 1;

}
.dispute_table tr th a.sortable::after {

    content: url(../img/review-manager/down-arrow.svg);
    position: absolute;
    left: calc(100% + 10px);
    top: calc(100% - 11px);
    line-height: 1;

}
.wid100
{
    width: 100%;
}
.close-dispution-confirmation textarea, .close-dispution-confirmation select {
    width: 100%;
    font-size: 13px;
    padding: 5px;
}
.dispute-nav > div p {
    font-size: 18px;
    color: var(--color-light-grey);
}
.pad0
{
    padding: 0;
}
.fleft
{
    float: left;
}
.fright
{
    float:right;
}
.mkd-workflow.mkd-workflow-animate.mkd-appeared {
    opacity: 1;
    transform: translateY(0);
}
.mkd-workflow.mkd-workflow-animate {
    transition: opacity .55s cubic-bezier(.23,1,.32,1) 0s,transform .55s cubic-bezier(.23,1,.32,1) 0s;
}
.mkd-workflow {
    margin-top: 30px;
    position: relative;
}
.mkd-workflow.mkd-workflow-animate .main-line {
    transition: opacity .55s cubic-bezier(.23,1,.32,1) 0s,height 1.8s ease-out 0s;
}
.mkd-workflow .main-line {
    background: #dee0e0;
    left: 14px;
    margin-left: -10px;
    position: absolute;
    right: 0%;
    top: 0;
    width: 2px;
     height: 95%;
    opacity: 1;
}
.site_color1 {
    border: 4px solid #49DDDF!important;
}
.circle {
    content: "";
    background-color: #49DDDF;
    border: 4px solid #49DDDF;
    border-radius: 50%;
    height: 20px;
    margin: 0 0 0 -5px;
    position: absolute;
    top: 0px;
    width: 20px;
}
.small-circle
{
    content: "";
    background-color: #7D7D7D;
    border: 4px solid #7D7D7D;
    border-radius: 50%;
    height: 10px;
    margin: 0;
    position: absolute;
    top: 6px;
    width: 10px;
}
.disp_title{
    padding-left: 30px;
    font-size: 15px;
    
}
.mbottom5
{
    margin-bottom: 5px;
}
.color_dark_grey
{
    color: var(--color-dark-grey);
}
.color_light_grey
{
     color: var(--color-light-grey);
}
.notify_celebrity_btn
{
    color: #fff;
    font-size: 14px;
    margin: 0 10px;
    min-width: 125px;
    text-align: center;
    padding: 7px 25px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 13px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}
.disflex
{
    align-items: center;
    display: flex;
}
.clear
{
    clear: both;
}
.cal_detail
{
    padding-left: 25px;
    font-size: 15px;
}
.next_avail_title
{
    font-size: 19px;
    padding-left: 20px;
}
#close_dispute_modal
{
    z-index: 1051;
}
=======
.existing-news-individual {
    width: 225px;
    height: auto;
    position: relative;
    margin: 5px;
}

.existing-news-individual p {
    font-size: 13px;
}

.remove-news {
    border: solid 1px var(--color-reject);
    border-radius: 50%;
    margin: 0 3px;
}

.edit-news {
    border: solid 1px var(--color-dark-grey) !important;
    border-radius: 50%;
    margin: 0 3px;
    background: none;
    border: none;
}

.remove-news-item {
    float: right;
    background: none;
    border: none;
    font-size: 13px;
    color: var(--color-reject);
}

.update-news-pic {
    margin-top: -1px
}

.news-pic-edit {
    position: relative;
    height: 225px;
    overflow: hidden;
    width: 590px;
    top: 0;
    background: #f3f3f3;
    margin: 10px auto;
}

.news-pic-edit img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    left: 50%;
    max-height: 100%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.15s ease-out;
    -o-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
    width: auto;
}

.news-pic-edit:hover .image-wrapper {
    bottom: 0;
}

[data-approval-status] {
    position: relative;
}

[data-uploadedon] {
    cursor:pointer;
}

[data-approval-status]:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

[data-approval-status=pending]::after {
    background: var(--color-celeb-inactive);
}

[data-approval-status=rejected]::after {
    background: var(--color-reject);
}

.individual-details {
    margin-bottom: 15px;
}

.individual-details-title{
    font-family: var(--font-secondary);
    font-size: 14px;
}

.individual-det {
    padding-left: 10px;
    font-size: 14px;
}

.image-preview-section{
    text-align: center;
}

.image-preview-section img{
    max-width: 100%;
    height: auto;
}

.pdf-preview-section{
    height: 70vh;
}

#preview-pdf{
    height: 100%;
    width: 100%;
}

.news-text {
    font-size: 14px;
    margin-top: 20px;
}

.news-text p:first-child {
    font-family: var(--font-secondary);
}

.news-text p {
    margin-bottom: 10px;
}
>>>>>>> 7cef1bbeaa2023c612f76954a8eb0efb11a63834
