.admin_menu
{
    background: #F0F0F7 !important;
}
.admin_menu .nav-item.active
{
    border-bottom:2px solid #726FBC;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #726FBC;
}
.navbar-light .navbar-nav .nav-link {
    color: #726FBC;
    font-weight:bold;
}
.admin_menu li.nav-item {
    margin-right: 30px;
}
.padleft0
{
    padding-left: 0;
}
.padright0
{
    padding-right: 0;
}
.view_stat
{
    font-size: 15px;
    color:#1D73FF;
}
.counter_text
{
    font-size:34px;
    font-weight: bold;
}
.insights_percentage
{
   
    font-size: 14px;
    font-weight: bold;
}
.title
{
    font-size: 16px;
}
.border_btm
{
    border-bottom: 1px solid #F1F1F3;
}
.border_top
{
    border-top: 1px solid #F1F1F3;
}
.color_red
{
    color: #FF4141;
}
.color_green
{
    color:#3CC480;
}
.txtcenter
{
    text-align: center;
}
.name
{
    font-size: 14px;
    font-weight: bold;
}
.status
{
    font-size: 13px;
}
.txtright
{
    text-align: right;
}
.profile_img
{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.mbottom25
{
    margin-bottom: 25px;
}
.rev_head
{
    font-size: 38px;
}
.tot_prof
{
    font-size: 24px;
}
.rev_color
{
    color:#A3A1FB;
    font-weight: bold;

}
.rev_payment
{
    color:#54D8FF;
    font-weight: bold;
}
.profit_color
{
    color:#3CC480;
    font-weight: bold;
}
.highcharts-credits
{
    display: none;
}
.approved_div
{
    background: #5CD649;
    color: #fff;
    border: 1px solid #5CD649;
    border-radius: 5px;
}
.all_disputes_div
{
    background: #ffffff;
    color:#676767;
    border: 1px solid #fff;
    border-radius: 5px;
}
.app_head,.pen_head,.rej_head
{
    font-size: 25px;
    font-weight: bold;
}
.pending_div
{
    background: #F89D27;
    color: #fff;
    border: 1px solid #F89D27;
    border-radius: 5px;
}
.disputes_count
{
    font-size: 30px;
    font-weight: bold;
}

.rejected_div
{
    background: #FF4141;
    color: #fff;
    border: 1px solid #FF4141;
    border-radius: 5px;
}
.disputes_table thead {
    background-color: #F5F6FA;
    color: #071242;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
}
.disputes_table {
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
   
}
.disputes_table th {
    padding: 20px;
}
.disputes_table tr td {
    padding-left: 30px;
    padding: 20px;
    color: var(--color-dark-grey);
    font-size: 14px;
    position: relative;
}
.disputes_table tbody tr {
    border-bottom: 1px solid #707070;
}
.dispute_status_pen
{
    color:#F89D27;
    font-weight: bold;
}
.dispute_status_approved
{
    color:#5CD649;
    font-weight: bold;
}
.dispute_status_rejected
{
    color:#FF4141;
    font-weight: bold;
}

.update_base_fare,.update_credit_value,.notify_celebrity_btn
{
    background: rgba(105, 180, 255, 1);
    background: -moz-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(105, 180, 255, 1)), color-stop(100%, rgba(41, 166, 180, 1)));
    background: -webkit-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -o-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: -ms-linear-gradient(top, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    background: linear-gradient(to bottom, rgba(105, 180, 255, 1) 0%, rgba(41, 166, 180, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69b4ff', endColorstr='#29a6b4', GradientType=0);
    font-weight: bold !important;
}
.history_btn
{
    border: 1px solid #54D8FF !important;
    color:#54D8FF !important;
    font-weight: bold !important;
    background: #fff;
}
#bussiness_fare
{
    border: none;
    font-size: 40px;
    font-weight: bold;
    width:50%;
}
.credit_value
{
    font-size: 79px;
    font-weight: bold;
}
.fsize15
{
    font-size: 15px;
}
.status_dis
{
    font-size: 12px;
   
    border-radius: 20px;
    padding: 2px;
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
}
.waiting_app_border
{
    border-bottom: 1px solid #0D0D13;
}
.status_pending
{
    background: #F89D27;
}
.status_approved
{
    background: #5CD649;
}
.status_rejected
{
    background:#FF4141;
}
.mbottom20
{
    margin-bottom: 20px;
}
.small_icon_img
{
    width: 15px;
    height: 15px;
    vertical-align: text-bottom;
}
.height10
{
    height: 10px;
}
.show_detail
{
    font-size: 14px;
    color:#3B86FF;
}
.mbottom10
{
    margin-bottom: 10px;
}
.padleft20
{
    padding-left: 20px;
}
.border-right
{
    border-right:1px solid #707070;
}
.rev_bk
{
    background: #A3A1FB;
    height: 12px;
    border-radius: 8px;
    margin-top: 5px;
}

.paymt_bk
{
    background: #54D8FF;
    height: 12px;
    border-radius: 8px;
    margin-top: 5px;
}
.fsize13
{
    font-size: 13px;
}
.fsize11
{
    font-size: 11px;
}
.mbottom13
{
    margin-bottom: 13px;
}
.bussiness_base_fare_text
{
    font-size: 99px;
    font-weight: bold;
    text-align: center;
}
.credit_text
{
    font-size: 14px;
}
.top_revenue_chart
{
    height: 435px;
}
.video_brd
{
    background: #A3A1FB;
    height: 12px;
    border-radius: 8px;
    width: 7px;
    height: 60px;
}
.video_text
{
    font-size: 25px;
    font-weight: bold;
    color: #A3A1FB;
}
.ad_text
{
    font-size: 25px;
    font-weight: bold;
    color: #56D9FE;
}
.ad_brd
{
    background: #56D9FE;
    height: 12px;
    border-radius: 8px;
    width: 7px;
    height: 60px;  
}
.autograph_brd
{
    background: #FF7272;
    height: 12px;
    border-radius: 8px;
    width: 7px;
    height: 60px;
}
.video_msg
{
    font-size: 25px;
    font-weight: bold;
    color: #FFC16D;
}
.auto_text
{
    font-size: 25px;
    font-weight: bold;
    color: #FF7272;
}
.video_call_brd
{
    background: #FFC16D;
    height: 12px;
    border-radius: 8px;
    width: 7px;
    height: 60px;
}
.role_div
{
    
    padding: 10px;
    color: #fff;
   
    font-size: 20px;
    border-radius: 5px;
}
.role_count
{
    font-weight: bold;
    font-size:29px;
}
.super_admin
{
    background: #5E58FF;
}
.cele_manager
{
    background:#0CB8E0;
}
.dispute_manager
{
    background: #5EE2A0;
}
.review_manager
{
    background: #E2C75E;
}
.grid_view
{
    background: #fff;
}
.filter_input
{
    width: 100%;
    border-radius: 25px;
    border: none;
    padding: 5px 45px;
    font-size: 14px;
    background: #fff url(./../img//review-manager/search.svg) no-repeat center left 15px;
    border:1px solid #ddd;
}
.filter_input:focus
{
    border:none;
}
.filter_select
{
    padding: 5px 5px;
    border-radius: 25px;
    border: 1px solid #ddd;
}
table
{
    width: 100%;

}
.search_btn,.default_btn
{
    padding: 5px 5px !important;
}
.status_active
{
    color: #5CD649 !important;
    font-weight: bold;
}
.fans_level
{
    font-size: 12px;
    border-radius: 20px;
    padding: 2px;
    font-weight: normal;
    font-weight: bold;
    text-align: center;
    color: #fff;
}
.level_gold
{
    background: #F89D27;
}
.padright20
{
    padding-right: 20px;
}
.back_link
{
    color:#36B0EA;
    font-weight: bold;
    font-size: 20px;
}
.back_img
{
    vertical-align: baseline;
}
.download_report
{
    background: #56D9FE;
    border: 1px solid #56D9FE;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.ver_top
{
    vertical-align: top;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link 
{
    color: #fff;
    background-color: #56D9FE !important;
    border-radius: 25px !important;
    border: 1px solid #56D9FE;
}
.nav-pills .nav-link
{
    border: 1px solid #707070;
    border-radius: 25px;
    font-weight: bold;
    color:#707070;
}
.marleft20
{
    margin-left: 20px;
}
.user_count
{
    font-size: 70px;
    color: #676767;
}

.span_text
{
    color:#494949;
    font-size: 20px;
}
.user_insights_title
{
    color: #56D9FE;
    font-weight: bold;
    margin-bottom: 0px;
}
.gender_count
{
    font-size: 35px;
    color: #676767;
}
.user_insights_color
{
    color: #494949;
}
.fans_insights_chart,.celebrity_insights_chart
{
    height: 384px;
}
.fsize20
{
    font-size: 20px;
}
.reg_user
{
    font-size: 16px;
    color: #494949;
}
.reg_count
{
    font-size: 42px;
    color: #676767;
}
.border_bottom1
{
    border-bottom:1px solid #707070;
}
.unreg_user,.inactive_user
{
    font-size: 16px;
    color: #494949;
}
.unreg_count,.inactive_usr_count
{
    font-size: 28px;
    color:#676767;

}
.fan_age_group_chart
{
    height: 347px;
}
.celebrity_age_group_chart
{
    height: 374px;
}
.progress {
    
    height: 6px;
    overflow: hidden;
    
    background-color: #e9ecef;
    border-radius: 8px;
}
.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
    
    
  }
@keyframes progress {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  } 
.cinema_progress
{
    background: #A3A1FB;
    
}
.sports_progress
{
    background: #5EE2A0;
   
}
.poetry_progress
{
    background: #FF6565;
    
}
.models_progress
{
    background: #FEC163;
    
}
.utube_progress
{
    background: #FFA177;
    
}
#revenue_by_fans {
    width: 100%;
    height: 325px;
  }
  #revenue_by_celebrity_map {
    width: 100%;
    height: 287px;
  }
  #revenue_by_region
  {
    width: 100%;
    height: 287px;
  }
  #revenue_by_downloads
  {
    width: 100%;
    height: 287px;
  }
  .fsize18
  {
      font-size: 18px;
  }
  g[stroke-width="1.7999999999999998"] 
  { 
    display: none;
  }
  .top_count.active
  {
    width: 40px;
    height: 40px;
    background: #887BFF;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
  }
  .top_count{
    width: 40px;
    height: 40px;
  
    border:1px solid #887BFF;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #887BFF;
  }
  .card
  {
      border-radius: 7px;
  }
  .tot_rev_head {
    font-size: 36px;
}
.tip
{
    color: #494949;
    font-size: 16px;
    opacity: 0.3;
}
.opacity5
{
    opacity: 0.5;
}
.rev_stream_title 
{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
.rev_video
{
    color: #A4A1FB;
}
.pad20{
    padding: 20px;
}
.rev_streams
{
    color:#676767;
}
.fsize24
{
    font-size: 24px;
}
.video_stream_count
{
    font-size: 45px;
}
.stream_sub_text
{
    color: #ADADAD;
    margin-bottom: 30px;
}
.view_details
{
    color: #477CCD;
    font-size: 15px;
}
.top_grossing
{
    font-weight: bold;
    font-size: 12px;
    background: #5CD649;
    color: #fff;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 3px;
    margin-left: 5px;
}
.padleft40
{
    padding-left: 40px;
}
.rev_autograph
{
    color:#FF7272;
}
.rev_greetings
{
    color:#FF7D43;

}
.rev_video_msg
{
    color:#49DDDF;
}
.ver_baseline
{
    vertical-align: baseline;
}
.color_head
{
    color:#6D6D6D;
}
.personalised_bk
{
    background: #CF2150;
    height: 12px;
    border-radius: 8px;
    margin-top: 5px;
}
.autograph_color
{
    color: #CF2150;
    font-weight: bold;
}

.video_msg_color
{
    color: #28DCDF;
    font-weight: bold;
}
.video_msg_bk
{
    background: #28DCDF;
    height: 12px;
    border-radius: 8px;
    margin-top: 5px;
}

.greetings_bk
{
    background: #FF7D43;
    height: 12px;
    border-radius: 8px;
    margin-top: 5px;
}
.greetings_color
{
    color: #FF7D43;
    font-weight: bold;
}
.download_count
{
    font-size: 60px;
    color:#676767;
    line-height: 0.9;
}
.span_count
{
    font-size: 21px;
}
.app_brd_rgt1
{
    border-right:1px solid rgba(112, 112, 111, 0.3)
    
}
.app_platform
{
    font-size: 18px;
    color:#676767;
}
.padleft5
{
    padding-left: 5px;
}
.tot_dwnlloads
{
    font-size: 22px;
    color:#060B22;
}
.fsize22
{
    font-size: 22px;
}
.app_brd_btm
{
    border-bottom: 1px solid rgb(112, 112, 112, 0.17);
}
.peak_hours_div
{
    height: 328px;
}
.current_version
{
    font-size: 45px;
    color: #56D9FE;
    line-height: 0.9;
}
.latest_update_text
{
    font-size: 20px;
    color: #ADADAD;
}
.update_date
{
    color:#3D3D3D;
    font-size: 20px;
}
.prev_version
{
    color:#676767;
    font-size: 30px;
}
.prev_ver_date
{
    font-size: 20px;
    color:#ADADAD;
}
.profile_name
{
    font-size: 36px;
    font-weight: bold;
    color: #43425D;
    line-height: 0.9;

}
.activity_user
{
    color:#808080;
    font-size: 13px;
}
.celebrity_brd_btm
{
    border-bottom:1px solid rgb(112, 112, 112,0.17);
}
.celebrity_action
{
    font-size: 20px;
    color:#353535;
}
.celebrity_count
{
    font-size: 70px;
    color:#353535;
    line-height: 0.8;
}
.overall_count
{
    font-size: 44px;
    color: #16C4E0;
    line-height: 1;
}
.earning_count
{
    font-size: 34px;
    font-weight: bold;
    color:#0D0D13;
    line-height: 1.2;
}
.celebrity_base_fare_text {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
    line-height: 0.9;
}
.celebrity_base_fare_pad
{
    padding-top: 11px;
    padding-bottom: 11px;
}
.celebrity_earing_sheet_chart {
    height: 430px;
}
.calendar_div
{
    height: 395px;
}
#availability_calendar
{
    margin: 0 auto;
}
.download{
    font-size: 9px;
    color: #CC4B4C;
}
.fsize12
{
    font-size: 12px;
}
.video_call_making
{
    color:#16C4E0;
}
.brder
{
    height: 20px;
    border-left: 1px solid #707070;
}
.celebrity_color_head
{
    color:#43425D;
}
.earned_brd {
    background: #A3A1FB;
    width: 7px;
    height: 60px;
}

.no_of_videos_brd {
    background: #56D9FE;
    width: 7px;
    height: 60px;
}
.cele_count
{
    font-size: 34px;
    font-weight: bold;
    color:#060B22;
}
.cele_text
{
    font-size: 16px;
    color:#060B22;
}
.earn_video_calls_div,.earn_autographs_div
{
    height: 405px;
}
.play_text
{
    color:#16C4E0;
    font-size: 13px;
}
.fans_level{
    font-weight: bold;
    font-size: 16px;
    background: #F2DB2F;
    color: #fff;
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    margin-left: 5px;
}
.basic_details_label
{
    font-size: 16px;
    font-weight: bold;
    color:#060B22;
}
.basic_details_text
{
    font-size: 16px;
    color:#060B22;
}
.current_wallet_bal
{
    font-size: 70px;
    color: #54D8FF;
    line-height: 0.9;
}
.credits_text
{
    font-size: 22px;
    color: #747474;
}
.total_spending_text
{
    font-size: 22px;
    color:#747474;
}
.tot_spending
{
    color:#54D8FF;
    font-size: 40px;
    font-weight: bold;
}
.current_wallet_bal_head
{
    color:#060B22;
    font-size: 22px;
}
.fans_action {
    font-size: 20px;
    color: #202020;
}
.fans_count
{
    font-size: 70px;
    font-weight: bold;
    line-height: 1.2;
}
.fan_tot_video_calls
{
    color:#9185FF;
}
.fan_auto_req
{
    color:#FF7272
}
.fan_refund_claims
{
    color:#848484;
}
.fan_video_msg
{
    color:#49DDDF;
}
.fan_greetings
{
    color:#FFC16D;
}
.fan_pending_req
{
    color:#848484;
}
.transaction_label,.transaction_value
{
    font-size: 14px;
    color:#202020;
}
.transaction_histry_btn
{
    color: #fff;
    font-size: 14px;
   
    min-width: 100%;
    text-align: center;
    padding: 7px 25px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 16px;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid #16C4E0 !important;
    color: #0CB8E0 !important;
    font-weight: bold !important;
    background: #fff;
    border-radius: 20px;
}
.avg_time,.primary_time
{
    font-size: 14px;
    color:#3C3C3C;
    opacity: 0.7;
}
.user_peak_hours_div
{
    height: 350px;
}
.pending_req_table thead
{
    background-color: #EBEBEB;
    color: #272727;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
   
}

.pending_req_table tr td {
    padding-left: 30px;
    padding:10px 25px;
    color: var(--color-dark-grey);
    font-size: 14px;
    position: relative;
}

.pending_req_table{
    width: 100%;
    background-color: #fff;
    margin-bottom: 25px;
}

.pending_req_table th
{
    padding: 20px;
}
.queued,.waiting_review
{
    color:#EBB333;
}
.reviewed_fail,.waiting
{
    color:#F71313;
}
.pass
{
    color:#2CD612;
}
.autograph_preview_div
{
    height: 550px;
    background-position: center;
    background-size: cover;
}
.fan_id_text
{
    font-size: 26px;
    color: #fff;
    margin-bottom: 45%;
}
.wish_text
{
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}
.padtop0
{
    padding-top: 0;
}
.padbottom0
{
    padding-bottom: 0;
}
.wish_text_area
{
    width: 100%;
    font-size: 18px;
    padding: 20px;
    border: 1px solid rgb(112, 112, 112,0.47);
    border-radius: 8px;
    color:#303030;
}
.text_area_div
{
    padding-left: 10px;
    padding-right: 0px;
}
div#timeline {
    background-color: #707070; 
    height: 1px;
    width: 85%;
    position: relative;
    left: 20px;
}
div#timeline .dot {
    z-index: 99;
    transition: 0.3s ease-in-out;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    text-align: center;
    cursor: pointer;
}
div#timeline .dot:nth-child(1) {
    left: 0;
    background-color: #5553F9;
}
div#timeline .dot span {
    display: inline-block;
    margin-top: 25px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #5553F9;
}
div#timeline .dot date {
    
    font-size: 15px;
    display: block;
    position: relative;
    top: -7px;
    text-align: center;
    left: -24px;
    font-weight: bold;
    width: 80px;
}
div#timeline .dot:nth-child(2) {
    left: 35%;
    background-color: #5553F9;
}
div#timeline .dot:nth-child(3) {
    left: 70%;
    background-color: #5553F9;
}
div#timeline .dot:nth-child(4) {
    left: 100%;
    background-color: #5553F9;
}
.date_text
{
    display: block;
    position: relative;
    top: -93px;
    text-align: center;
    left: -24px;
    font-size: 15px;
    width: 80px;
}
.timeline_text
{
    color:#5553F9;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
.hr_brd
{
   
    border-top: 1px solid #707070;
    opacity: 0.5; 
    
}
.avg_hrs
{
    color:#3C3C3C;
    opacity: 0.6;
    font-size: 12px;
}
.prm_time
{
    color:#3C3C3C;
    opacity: 0.73;
    font-size: 12px;
}
.celebrity_app_use_chart
{
    height: 319px;
}
.ver_btm
{
    vertical-align: bottom;
}
.ver_txt_top    
{
    vertical-align: text-top;
}