<textarea name="title" class="inthenews-title" placeholder="News Title" required>News title here</textarea>
<div class="update-news-pic">
    <div class="news-pic-edit">
        <img src="../img/review-manager/in-the-news.png" id="news-pic" alt="Profile Picture" />
        <a class="image-wrapper" href="#">
            <input class="hidden-input" id="changenewsimg" accept="image/*" type="file" name="newsimg" onchange="newsimageset(event)" />
            <label class="edit" for="changenewsimg" type="file" title="Change picture">Change</label>
            <input type="hidden" name="news_pic_data" id="news_pic_data" />
        </a>
    </div>
</div>
<textarea name="content" class="inthenews-content" placeholder="News Content" required>News Body here</textarea>